body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #121212;
}

h1 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 30px;
    color: #ffffff;
}

.sensor-container {
    display: flex;                 
    justify-content: space-between; 
    align-items: flex-start;
    gap: 20px;
    text-align: center;      
}

.sensor {
    flex: 1;
    border: 1px solid #1e88e5;
    padding: 10px;
    border-radius: 5px;
    background-color: #1e88e5; 
}

.graph-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.graph {
    flex: 1 1 45%;
    text-align: center;
}

.graph img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

